.showcase h2 {
  padding-top: 118px;
  padding-bottom: 70px;
}

@media (max-width: 1200px) {
  .showcase {
    background-size: cover;
  }
  .showcase h2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1441px) {
  .showcase {
    background-size: cover;
    background-repeat: no-repeat;
  }
}
